[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "zerobell-lee.github.io"]
	path = zerobell-lee.github.io
	url = git@github.com:zerobell-lee/zerobell-lee.github.io.git
	branch = master
